.banner-container{
	top:0%;
	width:100%;
	height:30%;
	background-color:#191919;
    background-size: contain;
    background-repeat: no-repeat;
	display:table;
}

.banner-links{
    margin-top:15%;
}

.banner-link{
}

.banner-link:hover{
}

.header-img{
	padding:15px;

}

.header-img img{
	border:4px solid wh;
	border-radius:5px;
	box-shadow:0px 0px 10px #191919;
}

@media screen and (max-width: 983px){
	.banner-link{
		height:30px;
	}

}
