
.login-top{
	position:absolute;
	width:100%;
	height:30px;
	background-color:transparent;
	z-index:2;
	text-align:right;
	padding-right:40px;
}

.home1{
	min-height:100% !important;
	width:100%;
	padding-top:10%;
}

.logo-splash{
	width:85%;
	margin-left:7%;
	margin-top:9%;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.signup-splash{
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;

}

.home2{
	min-height:100%;
	width:100%;
}

.righta{
	text-align:right;
}

.lefta{
	text-align:left;
}

.home-footer{
	min-height:360px;
	margin-top:50px;
}


/*small and medium screens */
@media screen and (max-width: 1024px){
	.home1{
		padding-top:50px;
		text-align:center;
		overflow-y:scroll;
	}
	
	.signup-splash{
		padding-right:10px !important;
	}
	.logo-splash{
		margin-left:0;
		margin-top:0;
	}
	
	.righta img{
		width:100%;
	}
	.home-footer{
		text-align:center;
	}
	
	.lefta img{
		width:100%;
	}
}

/* medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.logo-splash{
		width:400px;
	}
}
/*small  screens */

@media only screen and (max-width: 40.063em) { 
	.logo-splash{
		max-width:300px;
	}
	.signup-splash{
		padding-top:30px !important;
	}
}





/* fade animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    from { opacity: 0; }
    to   { opacity: 1; }
}
