/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.clearfix > img{
	max-height:55px;
	position:absolute;
}

/* Basic Styles */
nav {
	height: 55px;
	width: 100%;
	background: #191919;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}

#logonav img{
	margin-top:-4px;
}
#logonav a{
	padding:0px 5px;
	padding-right:10px;
}

#logonav{
	width:150px;
	padding:0;
	margin:0;
	margin-right:10px;

}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 800px;
	height: 55px;
}

nav li {
	display: inline;
	float: left;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 150px;
	text-align: center;
	text-decoration: none;
	line-height: 55px;
	font-weight:600;
}

nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

nav li:hover, nav li:active {
	background-color: #FF7000;
	color:#fff !important;
}
nav a:hover, nav a:active {
	color:#fff !important;
	text-shadow: 0px 0px 0px black;
}
nav a#pull {
	display: none;
}

.navuserbig{
	background-color:#FF700 !important;
	z-index:10;
}
#largeusermenu{
	background-color:#FF7700;
}

.navuserbig a:hover{
	background-color:#191919 !important;

}
#searchbig{
	background-color:transparent;
	height:50px;
	padding-top:10px;
}

#searchbig input[TYPE='TEXT']{
	height:40px;
}
#searchbig select{
	height:40px;
}

/*Styles for screen 720px and lower*/
@media screen and (max-width: 820px) and (min-width:721px) {
	#navusermenu{
		width:70px;
	}
	ul.clearfix{
		width:690px;
	}

}

/*Styles for screen 720px and lower*/
@media screen and (max-width: 720px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #606060;
	}
	
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
  	
	#logonav img{
		max-height:80px;
	}

	#logonav a{
		border-bottom:0;
		text-align:center;
	}
	#logonav{
		width:100%;
		padding:20px 20px;
		border-bottom:3px;
	}

	nav {
		border-bottom: 0;
	}
	
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #191919;
		width: 100%;
		position: relative;
	}
		nav li {
		display: block;
		float: none;
		width: 100%;
	}

	nav a#pull:after {
		content:"";
		background: url('../img/nav-icon.png') no-repeat;
		width: 35px;
		height: 50px;
		margin-top:6px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull:hover {
		color:#fff !important;
	}
	
	#navusermenu{
		padding-left:20px;
	}
	.navuser a{
		padding-left:30px;
	}
}
