
.banner-container{
	top:0%;
	width:100%;
	min-height:30%;
	background-color:#191919;
    background-size: contain;
    background-repeat: no-repeat;
	display:table;
}

.banner-links{
}

.banner-link{
}

.banner-link:hover{
}

.header-img{
	padding:15px;
	text-align:center;
}

.header-img img{
	border:4px solid #DDDFE4;
	border-radius:5px;
	box-shadow:0px 0px 10px #191919;
	height:240px;
	height:240px;
}


@media screen and (max-width: 1024px){
	.banner-link{
		height:30px;
	}
	.banner-links{
		margin-top:5px !important;
	}
	
	.game-sidebar{
		text-align:center;
	}
	.game-sidebar > img{
		max-height:300px;
	}
}

/*small  screens */
@media only screen and (max-width: 40.063em) { 
	.banner-links{
		margin-top:5px !important;
	}
	
	.header-img{
		text-align:center;
	}
	
	.header-img img{
		height:200px;
	}

}	

/* medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.header-img{
		text-align:center;
	}
	.header-img img{
	}
}
